.home-page{
  text-align: center;
  .nav-links{
    margin: 20px;
    table{
      margin: auto;
      tr td{
        text-align: center;
        width: 140px;
        height: 80px;
        border: black 1px solid;
      }
    }
  }
}
