.search-bar {
  margin: 10px;
  margin-bottom: 20px;
  span {
    margin-right: 5px;
  }
  input {
    padding: 3px;
    &.search_term {
      min-width: 25%;
    }
  }
  select {
    padding: 3px;
  }

}
